<h1>MINEFIELD</h1>

<button (click)="mode(0.10)">Easy Mode</button>
<button (click)="mode(0.15)">Normal Mode</button>
<button (click)="mode(0.20)">A little harder Mode</button>

<div class="board" *ngFor='let row of board'>
  <div class="tiles" *ngFor='let tile of row' (click)='userClick(tile)' (contextmenu)='userFlag(tile)'>
    <div class='bomb' *ngIf=tile.clicked>
      <div *ngIf=(tile.bomb)>
        <p>
          💣
        </p>

      </div>
      <div class='adjacent' *ngIf=(!tile.bomb)>
      <p>
        {{tile.adjacent}}
      </p>
    </div>
  </div>
  <div class="bomb" *ngIf=(!tile.clicked)>
    <div class="bomb" *ngIf=(tile.flagged)>
      <p>
        🚩
      </p>
    </div>
    <div class="bomb" *ngIf=(!tile.flagged)>
      <p>
        💩
      </p>
    </div>
  </div>

</div>
